.main-categories-container {
  background-color: #fff;
  padding-bottom: 20px;

  @include flexbox(column, center, center);
  h1 {
    padding-top: 25px;
  }

  .sub-categories-container {
    @include flexbox(row, center, center);
    flex-wrap: wrap;
    .category-wrapper {
      @include flexbox(column, center, center);
      margin: 20px;

      .category {
        cursor: pointer;
        width: 90px;
        height: 90px;
        border-radius: 50%;
        transition: 0.3s;
        &:hover {
          transform: scale(1.1);
        }

        img {
          width: 100%;
        }
      }
      span {
        font-size: 15px;
        font-weight: 700;
        margin-top: 10px;
      }
    }
  }
}
