.bgc-1 {
  background-color: rgba(194, 43, 205);
}

.bgc-2 {
  background-color: rgba(168, 83, 211);
}

.bgc-3 {
  background-color: rgba(117, 148, 225);
}

.bgc-4 {
  background-color: rgba(199, 180, 209);
}

.bgc-5 {
  background-color: rgba(26, 189, 52);
}

.bgc-6 {
  background-color: rgba(23, 248, 38);
}

.bgc-7 {
  background-color: rgba(36, 117, 249);
}

.bgc-8 {
  background-color: rgba(194, 116, 197);
}

.bgc-9 {
  background-color: rgba(60, 226, 188);
}

.bgc-10 {
  background-color: rgba(149, 221, 120);
}

.bgc-11 {
  background-color: rgba(18, 68, 170);
}

.bgc-12 {
  background-color: rgba(132, 42, 107);
}

.bgc-13 {
  background-color: rgba(177, 8, 194);
}

.bgc-14 {
  background-color: rgba(88, 18, 187);
}

.bgc-15 {
  background-color: rgba(213, 179, 60);
}

.bgc-16 {
  background-color: rgba(187, 227, 162);
}

.bgc-17 {
  background-color: rgba(157, 16, 122);
}

.bgc-18 {
  background-color: rgba(238, 120, 28);
}

.bgc-19 {
  background-color: rgba(243, 16, 173);
}

nav.main-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: normal;
  background-color: #3586ff;
  color: white;
  padding: 0 50px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
nav.main-header ul.main-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  height: 90px;
  padding: 0;
  width: 1200px;
}
nav.main-header ul.main-navigation .logo-holder img.big-logo {
  width: 250px;
  cursor: pointer;
  transform: translate(0, 3px);
}
nav.main-header ul.main-navigation .logo-holder img.small-logo {
  display: none;
}
nav.main-header ul.main-navigation ul.navigation {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  font-size: large;
}
nav.main-header ul.main-navigation ul.navigation li.icon {
  font-size: 18px;
  font-weight: 500;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: normal;
  cursor: pointer;
  transition: 0.2s;
}
nav.main-header ul.main-navigation ul.navigation li.icon:hover {
  opacity: 0.5;
}
nav.main-header ul.main-navigation ul.navigation li.icon span {
  margin-left: 7px;
}
nav.main-header ul.main-navigation #fade-button {
  display: none;
}
nav.main-header ul.main-navigation button {
  height: 50px;
  font-family: "Nunito", sans-serif;
  background-color: #fff;
  color: #3586ff;
  font-weight: 800;
  font-size: 17px;
  transition: 0.3s;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
nav.main-header ul.main-navigation button:hover {
  background-color: #0045ad;
  color: #fff;
}
@media screen and (max-width: 920px) {
  nav.main-header ul.main-navigation .logo-holder img.big-logo {
    display: none;
  }
  nav.main-header ul.main-navigation .logo-holder img.small-logo {
    display: initial;
    width: 65px;
    cursor: pointer;
    transform: translate(0, 4px);
  }
  nav.main-header ul.main-navigation ul.navigation {
    display: none;
  }
  nav.main-header ul.main-navigation #fade-button {
    display: inline-flex;
  }
  nav.main-header ul.main-navigation button {
    font-size: 12px;
    font-weight: 1000;
  }
}

.searchbar-container {
  background-color: #f2f4f5;
  height: 152px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.searchbar-container .icon-holder {
  height: 72px;
  text-align: center;
  background-color: #fff;
  padding: 0 20px;
  margin-left: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.searchbar-container .searchbar-input {
  width: 1000px;
  height: 72px;
  font-size: 25px;
  border: none;
  background-color: #fff;
}
.searchbar-container .searchbar-input:hover, .searchbar-container .searchbar-input:focus {
  outline: none;
}
.searchbar-container .searchbar-input::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
.searchbar-container .x-cancel-input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  height: 72px;
  cursor: pointer;
}
.searchbar-container .search-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 72px;
  background-color: #fff;
  border: none;
  font-size: 20px;
  font-weight: 700;
  padding: 0 20px;
  margin-right: 40px;
  transition: 0.3s;
  cursor: pointer;
}
.searchbar-container .search-button span {
  margin-right: 10px;
}
.searchbar-container .search-button:hover {
  background-color: #3586ff;
  color: #fff;
}
@media screen and (max-width: 920px) {
  .searchbar-container .icon-holder {
    margin-left: 0;
    display: none;
  }
  .searchbar-container .searchbar-input {
    width: 100%;
    padding-left: 20px;
  }
  .searchbar-container #search-icon {
    display: none;
  }
  .searchbar-container .x-cancel-input {
    display: none;
  }
  .searchbar-container .search-button {
    padding-right: 10px;
    margin-right: 0;
  }
  .searchbar-container .search-button span {
    margin: 0 10px;
  }
}

.main-categories-container {
  background-color: #fff;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-categories-container h1 {
  padding-top: 25px;
}
.main-categories-container .sub-categories-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.main-categories-container .sub-categories-container .category-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.main-categories-container .sub-categories-container .category-wrapper .category {
  cursor: pointer;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  transition: 0.3s;
}
.main-categories-container .sub-categories-container .category-wrapper .category:hover {
  transform: scale(1.1);
}
.main-categories-container .sub-categories-container .category-wrapper .category img {
  width: 100%;
}
.main-categories-container .sub-categories-container .category-wrapper span {
  font-size: 15px;
  font-weight: 700;
  margin-top: 10px;
}

.offers-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 537px;
}
.offers-wrapper .offers-wrapper-2 {
  max-width: 1360px;
}
.offers-wrapper .offers-wrapper-2 .h1-button-wrapper {
  text-align: center;
}
.offers-wrapper .offers-wrapper-2 .h1-button-wrapper .all-offers-button {
  margin-top: 20px;
  font-family: "Nunito", sans-serif;
  background-color: #fff;
  color: #3586ff;
  font-weight: 800;
  font-size: 15px;
  height: 25px;
  transition: 0.3s;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.offers-wrapper .offers-wrapper-2 .h1-button-wrapper .all-offers-button:hover {
  background-color: #3586ff;
  color: #fff;
}
.offers-wrapper .offers-wrapper-2 .h1-button-wrapper h1 {
  padding-top: 30px;
}
.offers-wrapper .offers-wrapper-2 .h1-button-wrapper h1 .category-name.font-weight {
  font-weight: 800;
}
.offers-wrapper .offers-wrapper-2 .h1-button-wrapper .add-offer-button {
  height: 50px;
  font-family: "Nunito", sans-serif;
  background-color: #3586ff;
  color: #fff;
  font-weight: 800;
  font-size: 17px;
  transition: 0.3s;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.offers-wrapper .offers-wrapper-2 .h1-button-wrapper .add-offer-button:hover {
  background-color: #fff;
  color: #3586ff;
}
.offers-wrapper .offers-wrapper-2 .offers-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: #002f34;
}
.offers-wrapper .offers-wrapper-2 .offers-container .offer-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  height: 400px;
  background-color: #fff;
  padding: 20px;
  margin: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.offers-wrapper .offers-wrapper-2 .offers-container .offer-item:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transform: scale(1.005);
}
.offers-wrapper .offers-wrapper-2 .offers-container .offer-item img {
  width: 100%;
  height: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.offers-wrapper .offers-wrapper-2 .offers-container .offer-item p {
  margin: 0;
}
.offers-wrapper .offers-wrapper-2 .offers-container .offer-item h2.offer-title,
.offers-wrapper .offers-wrapper-2 .offers-container .offer-item h3.offer-price {
  margin: 0;
  font-size: 25px;
  font-weight: 800;
}
.offers-wrapper .offers-wrapper-2 .offers-container .offer-item p.offer-phone {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  border-radius: 5px;
  padding: 5px;
}
.offers-wrapper .offers-wrapper-2 .offers-container .offer-item p.offer-phone span {
  font-weight: 600;
  margin-right: 5px;
}
.offers-wrapper .offers-wrapper-2 .offers-container .offer-item p.offer-date {
  align-self: flex-end;
}
@media screen and (max-width: 920px) {
  .offers-wrapper .offers-wrapper-2 .offers-container {
    max-height: 1760px;
    overflow: hidden;
  }
}

.footer {
  position: relative;
  width: 100%;
  background: #3586ff;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 150px;
}

ul {
  padding: 0;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("https://i.ibb.co/wQZVxxk/wave.png");
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 0.9;
  bottom: 0;
  animation: animateWaves 5s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 8s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 10s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 12s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-position-x: 0px;
  }
}
@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-position-x: 0px;
  }
}
h1 {
  margin: 0;
  margin-bottom: 20px;
}

.offer-modal-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.offer-modal-form h2 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.offer-modal-form .add-images-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 25px;
}
.offer-modal-form .add-images-container .add {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  background-color: #f2f4f5;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: 0.2s;
  cursor: pointer;
}
.offer-modal-form .add-images-container .add:hover {
  transform: scale(1.02);
  background-color: #ececec;
}
.offer-modal-form .details-holder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 650px;
  margin: 25px 0;
}
.offer-modal-form .details-holder Textarea {
  border-radius: 5px;
  padding: 10px;
  --Textarea-paddingBlock: 0 !important;
  --Textarea-paddingInline: 0 !important;
  width: 300px;
  height: 200px;
}
.offer-modal-form .details-holder Textarea:focus-within {
  outline: none;
}
.offer-modal-form .details-holder Textarea:focus {
  outline: none;
}
.offer-modal-form .details-holder .author-data-holder {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 200px;
  transform: translate(0, -5px);
}

.main-offer-view-container {
  background-color: #f2f4f5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: normal;
}
.main-offer-view-container .sub-offer-view-container {
  padding: 40px;
  width: 1218px;
  font-size: 25px;
  border: none;
  background-color: #fff;
  margin: 0px 40px;
}
.main-offer-view-container .sub-offer-view-container:hover, .main-offer-view-container .sub-offer-view-container:focus {
  outline: none;
}
.main-offer-view-container .sub-offer-view-container::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
.main-offer-view-container .sub-offer-view-container h1.title1 {
  margin-bottom: 55px;
}
.main-offer-view-container .sub-offer-view-container .image-slider {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.main-offer-view-container .sub-offer-view-container .image-slider .arrow {
  position: relative;
  cursor: pointer;
  transition: 0.2s;
}
.main-offer-view-container .sub-offer-view-container .image-slider .arrow:hover {
  opacity: 0.6;
}
.main-offer-view-container .sub-offer-view-container .image-slider .img-container-showed {
  position: relative;
  width: 800px;
  overflow: hidden;
}
.main-offer-view-container .sub-offer-view-container .image-slider .img-container-showed .img-contaier-slide {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: normal;
  transition: 0.3s;
}
.main-offer-view-container .sub-offer-view-container .image-slider .img-container-showed .img-contaier-slide img {
  width: 800px;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-offer-view-container .sub-offer-view-container .price-container {
  text-align: left;
  font-weight: 700;
  font-size: 35px;
  margin: 0;
  color: #002f34;
}
.main-offer-view-container .sub-offer-view-container .details-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: normal;
}
.main-offer-view-container .sub-offer-view-container .details-wrapper .details-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: normal;
  float: left;
  text-align: left;
  width: 60%;
  padding: 20px;
}
.main-offer-view-container .sub-offer-view-container .details-wrapper .details-container h1 {
  text-align: left;
  font-family: "Nunito", sans-serif;
  color: #002f34;
}
.main-offer-view-container .sub-offer-view-container .details-wrapper .details-container p.description {
  word-wrap: break-word;
  justify-self: flex-end;
}
.main-offer-view-container .sub-offer-view-container .details-wrapper .author-data-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  padding: 0px;
}
.main-offer-view-container .sub-offer-view-container .details-wrapper .author-data-container .avatar-name-container {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: center;
  width: 100%;
}
.main-offer-view-container .sub-offer-view-container .details-wrapper .author-data-container .avatar-name-container img {
  width: 75px;
}
.main-offer-view-container .sub-offer-view-container .details-wrapper .author-data-container .number-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-offer-view-container .sub-offer-view-container .details-wrapper .author-data-container p {
  margin: 0;
}
.main-offer-view-container .sub-offer-view-container .details-wrapper .author-data-container p.name {
  font-weight: 600;
}
.main-offer-view-container .sub-offer-view-container .details-wrapper .author-data-container p.number {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: normal;
}
.main-offer-view-container .sub-offer-view-container .details-wrapper .author-data-container p.show {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: normal;
  font-size: 18px;
  cursor: pointer;
}
.main-offer-view-container .sub-offer-view-container .details-wrapper .author-data-container .map-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: normal;
}
@media screen and (max-width: 920px) {
  .main-offer-view-container .sub-offer-view-container {
    width: 100%;
    margin: 0;
  }
}

.slider {
  position: relative;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 25px;
}

.image {
  max-width: 720px;
  max-height: 500px;
  border-radius: 10px;
}

.right-arrow {
  position: absolute;
  top: 42%;
  right: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.left-arrow {
  position: absolute;
  top: 42%;
  left: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.slide {
  transition-duration: 0.1s;
}

.slide.active {
  transition-duration: 0.1s;
  transform: scale(1.08);
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.images-preview-container {
  margin-top: 25px;
}
.images-preview-container .images-preview-slide {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.images-preview-container .images-preview-slide img {
  height: 80px;
  margin-right: 15px;
  border: 3px solid #fff;
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
}
.images-preview-container .images-preview-slide img.selected {
  border-color: #3586ff;
}

* {
  font-family: "Nunito", sans-serif;
}

*,
*:after,
*::before {
  box-sizing: border-box;
}

h1 {
  font-weight: 700;
  font-size: 35px;
  font-family: "Roboto", sans-serif;
  color: #002f34;
  text-align: center;
}/*# sourceMappingURL=App.css.map */