@import "../utilities/variables";
@import "../utilities/mixins";

@import "../partials/Home";
@import "../partials/OfferView";
@import "../partials/Signup";
@import "../partials/Login";

@import "../partials/Header";
@import "../partials/Searchbar";
@import "../partials/Categories";
@import "../partials/Offers";
@import "../partials/Footer";
@import "../partials/AddOffer";
@import "../partials/Offer";
@import "../partials/Carousel";
@import "../partials/Loader";
@import "../partials/AllOffers";
@import "../partials/Greetings";
@import "../partials/UserOffers";
@import "../partials/Filters";
@import "../partials/CustomSelect";

* {
  font-family: "Nunito", sans-serif;
}
*,
*:after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1 {
  font-weight: 700;
  font-size: 35px;
  // font-family: 'Roboto', sans-serif;
  color: $secondary-color;
  text-align: center;
}
.App {
  background-color: var(--secondary-bg-color);
}
