$primary-font: "Nunito", sans-serif;
$box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
$box-shadow2: rgba(0, 0, 0, 0.24) 0px 3px 18px;
$box-shadow-dark: rgba(255, 255, 255, 0.12) 0px 3px 18px;
$primary-color: #3586ff;
$secondary-color: #002f34;
$dark-theme-font-color: #eeeeee;

$secondary-light-color: #f2f4f5;
