nav.main-header {
  @include flexbox(row, center);
  background-color: $primary-color;
  color: white;
  padding: 0 50px;
  box-shadow: $box-shadow;

  ul.main-navigation {
    @include flexbox(row, space-between, center);
    margin: 0;
    height: 90px;
    padding: 0;
    width: 1200px;
    .logo-holder {
      img.big-logo {
        width: 250px;
        cursor: pointer;
        transform: translate(0, 3px);
      }
      img.small-logo {
       display: none
      }
      
    }

    
    ul.navigation {
      @include flexbox(row, flex-start, center);
      list-style: none;
      font-size: large;

      li.icon {
        font-size: 18px;
        font-weight: 500;
        padding: 0 20px;
        @include flexbox;
        cursor: pointer;
        transition: .2s;
        &:hover {
            opacity: 0.5;
        }
        span {
          margin-left: 7px;
        }
      }
    }
    #fade-button {
      display: none;
      
    }
    
    button {
      height: 50px;
      font-family: $primary-font;
      background-color: #fff;
      color: $primary-color;
      font-weight: 800;
      font-size: 17px;
      transition: .3s;
      box-shadow: $box-shadow;
      &:hover {
        background-color: #0045ad;;
        color: #fff;
      }
    }
    @media screen and (max-width: 1000px) {
      .logo-holder {
        img.big-logo {
          display: none;
        }
        img.small-logo {
          display: initial;
          width: 65px;
          cursor: pointer;
          transform: translate(0, 4px);
        }
      }
      ul.navigation{
        display: none;
      }
      #fade-button {
        display:inline-flex;
      }
      button {
        // height: 40px;
        
        font-size: 12px;
        font-weight: 1000;
        
      }
    }
  }

  
}


