.main-categories-container {
  background-color: #fff;
  padding-bottom: 40px;
  &.dark-theme {
    background-color: rgb(68, 68, 68);
    color: rgb(238, 238, 238);
  }

  @include flexbox(column, center, center);
  h1 {
    margin: 40px 0px 20px 0px;
    &.dark-theme {
      color: rgb(238, 238, 238);
    }
  }

  .sub-categories-container {
    @include flexbox(row, center, center);
    flex-wrap: wrap;
    // background-color: aquamarine;

    .category-wrapper {
      @include flexbox(column, center, center);
      margin: 22px;

      .category {
        @include flexbox(initial, center, center);
        cursor: pointer;
        width: 90px;
        height: 90px;
        border-radius: 50%;
        transition: 0.2s;

        &:hover {
          transform: scale(1.1);
        }

        img {
          width: 65px;
        }
      }
      .selected {
        transform: scale(1.1);
        box-shadow: $primary-color 0px 0px 20px;
      }
      span {
        font-size: 15px;
        font-weight: 700;
        margin-top: 10px;
      }
    }
  }
}
@media screen and (max-width: 1376px) {
  .main-categories-container {
    .sub-categories-container {
      width: 1000px;
    }
  }
}
@media screen and (max-width: 1036px) {
  .main-categories-container {
    .sub-categories-container {
      width: 700px;
    }
  }
}
@media screen and (max-width: 696px) {
  .main-categories-container {
    .sub-categories-container {
      width: 600px;
    }
  }
}
@media screen and (max-width: 600px) {
  .main-categories-container {
    .sub-categories-container {
      @include flexbox(initial, flex-start);
      width: 500px;
      height: 200px;
      overflow: auto;
      flex-wrap: nowrap;
    }
  }
}

@media screen and (max-width: 520px) {
  .main-categories-container {
    .sub-categories-container {
      width: 440px;
    }
  }
}
@media screen and (max-width: 440px) {
  .main-categories-container {
    .sub-categories-container {
      width: 340px;
    }
  }
}
