.custom-select-container {
  height: 90px;
  @include flexbox(column, space-between, center);
  Button {
    width: 150px;
    font-size: 12px;
    padding: 0;
    opacity: 0;
    background-color: var(--primary-bg-color);
    color: var(--action-text-color);
    border: 1px solid rgba(0, 0, 0, 0.25);
    box-shadow: none;
    pointer-events: none;
    &.visible {
      pointer-events: all;
      opacity: 1;
    }
    &:hover {
      color: #fff;
    }
  }
  .custom-select {
    border-radius: 10px;
    width: 280px;
    background-color: var(--primary-bg-color);

    label {
      color: var(--primary-text-color);
    }
    span {
      color: var(--primary-text-color);
    }
    svg {
      fill: var(--secondary-text-color);
    }
    #category-select,
    #country-select {
      display: flex;
      align-items: center;
    }
    @media screen and (max-width: 1380px) {
      width: 220px;
    }
    @media screen and (max-width: 1036px) {
      width: 330px;
    }
    @media screen and (max-width: 750px) {
      width: 210px;
    }

    @media screen and (max-width: 460px) {
      width: 165px;
    }
    @media screen and (max-width: 400px) {
      width: 300px;
    }
  }
}
