.filters-container {
  margin-top: 20px;

  .filters-subcontainer {
    margin: 0px auto 0px auto;
    // height: 90px;
    @include flexbox(row, space-between, flex-start);
    max-width: 1330px;
    .searchbar-paragraph {
      justify-content: space-between;
      height: 90px;
      .clear-all-filters-button {
        display: block;
        width: 150px;
        font-size: 12px;
        padding: 0;
        opacity: 0;
        background-color: var(--primary-bg-color);
        color: $primary-color;
        color: var(--action-text-color);
        border: 1px solid rgba(0, 0, 0, 0.25);
        box-shadow: none;
        pointer-events: none;
        &.visible {
          pointer-events: all;
          opacity: 1;
        }
        &:hover {
          background-color: $primary-color;
          color: #fff;
        }
      }
      .searchbar-container {
        background-color: transparent;
        // margin-right: 50px;
        .icon-holder {
          margin: 0;
          background-color: var(--primary-bg-color);
          height: 57px;
          border-top: 1px solid rgba(0, 0, 0, 0.2);
          border-bottom: 1px solid rgba(0, 0, 0, 0.2);
          border-left: 1px solid rgba(0, 0, 0, 0.2);
        }
        input {
          background-color: var(--primary-bg-color);
          width: 450px;
          height: 57px;
          font-size: 18px;
          border-top: 1px solid rgba(0, 0, 0, 0.2);
          border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        }
        .x-cancel-input {
          background-color: var(--primary-bg-color);
          height: 57px;
          border-top: 1px solid rgba(0, 0, 0, 0.2);
          border-bottom: 1px solid rgba(0, 0, 0, 0.2);

          svg {
            path {
              color: var(--primary-bg-color);
            }
            &.visible {
              path {
                color: var(--primary-text-color);
              }
            }
          }
        }
        .search-button {
          margin: 0;
          background-color: var(--primary-bg-color);
          height: 57px;
          color: var(--primary-text-color);
          border-top: 1px solid rgba(0, 0, 0, 0.2);
          border-bottom: 1px solid rgba(0, 0, 0, 0.2);
          border-right: 1px solid rgba(0, 0, 0, 0.2);
          font-size: 16px;
          font-weight: 500;
          &:hover {
            background-color: $primary-color;
            color: #fff;
          }
        }
      }
    }
  }
  @media screen and (max-width: 1380px) {
    .filters-subcontainer {
      width: 1000px;
      .searchbar-paragraph {
        .searchbar-container {
          input {
            width: 250px;
          }
        }
      }
    }
  }
  @media screen and (max-width: 1036px) {
    .filters-subcontainer {
      height: 210px;
      width: 700px;
      flex-wrap: wrap;

      .searchbar-paragraph {
        .searchbar-container {
          input {
            width: 429px;
          }
        }
      }
    }
  }
  @media screen and (max-width: 750px) {
    .filters-subcontainer {
      width: 450px;
      .searchbar-paragraph {
        .searchbar-container {
          .icon-holder {
            display: none;
          }
          input {
            width: 295px;
            border-radius: 10px 0px 0px 10px;
            padding-left: 15px;
            border-left: 1px solid rgba(0, 0, 0, 0.25);
          }
          .search-button {
            width: 100px;
            padding: 0;
            // display: none;
          }
        }
      }
    }
  }
  @media screen and (max-width: 460px) {
    .filters-subcontainer {
      width: 350px;
      .searchbar-paragraph {
        .searchbar-container {
          input {
            width: 195px;
          }
          .search-button {
            border-radius: 0px 10px 10px 0px;
          }
        }
      }
    }
  }
  @media screen and (max-width: 400px) {
    .filters-subcontainer {
      height: 300px;
      max-width: 300px;
      // @include flexbox(column, space-between, center);
      .searchbar-paragraph {
        .searchbar-container {
          input {
            width: 165px;
          }
          .search-button {
            border-radius: 0px 10px 10px 0px;
            width: 80px;
            svg {
              display: none;
            }
          }
        }
      }
    }
  }
}
