.offers-wrapper {
  @include flexbox(row, center, center);
  width: 100%;
  min-height: 469px;
  &.dark-theme {
    background-color: rgb(44, 44, 44);
  }

  .offers-wrapper-2 {
    max-width: 1360px;

    .h1-button-wrapper {
      text-align: center;
      .clear-filters-button {
        margin-top: 20px;
        font-family: $primary-font;
        background-color: #fff;
        color: $primary-color;
        font-weight: 800;
        font-size: 15px;
        height: 25px;
        transition: 0.3s;
        box-shadow: $box-shadow;
        &.dark-theme {
          background-color: rgb(68, 68, 68);
          color: rgb(238, 238, 238);
        }
        &:hover {
          background-color: $primary-color;
          color: #fff;
        }
      }
      h1 {
        &.dark-theme {
          color: rgb(238, 238, 238);
        }
        .category-name {
          &.font-weight {
            font-weight: 800;
          }
        }
      }
      .add-offer-button {
        height: 50px;
        font-family: $primary-font;
        background-color: $primary-color;
        color: #fff;
        font-weight: 800;
        font-size: 17px;
        transition: 0.3s;
        box-shadow: $box-shadow;
        &:hover {
          background-color: #fff;
          color: $primary-color;
        }
      }
    }

    .offers-container {
      @include flexbox(row, center, center);
      flex-wrap: wrap;
      color: $secondary-color;

      .offer-item {
        @include flexbox(column, space-between, center);
        border-radius: 10px;
        width: 300px;
        height: 400px;
        background-color: #fff;
        padding: 20px;
        margin: 20px;
        // box-shadow: $box-shadow;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
          box-shadow: $box-shadow;
          transform: scale(1.005);
        }
        &.dark-theme {
          background-color: rgb(68, 68, 68);
          color: rgb(238, 238, 238);
          &:hover {
            box-shadow: $box-shadow-dark;
          }
        }
        img {
          $width: 100%;
          width: $width;
          height: ($width * 0.5);
          object-fit: cover;
        }
        p {
          margin: 0;
        }
        h2.offer-title,
        h3.offer-price {
          margin: 0;
          font-size: 25px;
          font-weight: 800;
        }
        p.offer-phone {
          @include flexbox(row, center, center);
          transition: 0.2s;
          border-radius: 5px;
          padding: 5px;
          span {
            font-weight: 600;
            margin-right: 5px;
          }
          // &:hover {
          //   background-color: #e4e4e4;
          // }
        }
        .category-date-container {
          @include flexbox(row, space-between);
          width: 100%;
          .offer-category {
            font-weight: 700;
          }
          // .offer-date {

          // }
        }
      }
    }

    @media screen and (max-width: 920px) {
      .offers-container {
        max-height: 1760px;
        overflow: hidden;
      }
    }
  }
}
