.signup-container {
  @include flexbox(column);
  height: 100vh;
  &.dark-theme {
    background-color: rgb(44, 44, 44);
  }
  .signup-content {
    @include flexbox(column, center, center);
    flex-grow: 1;
    h1 {
      &.dark-theme {
        color: #fff;
      }
    }
    form {
      @include flexbox(column, center, center);
      height: 400px;
      width: 400px;
      background-color: #fff;
      border-radius: 15px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      &.dark-theme {
        background-color: rgb(68, 68, 68);
      }
      .form-content {
        margin-bottom: 50px;
        .response {
          height: 20px;
          color: red;
        }
        #username,
        #password {
          width: 250px;
          height: 50px;
          font-size: large;
          border-radius: 15px;
          border: 1px solid rgba(100, 100, 100, 0.3);
          padding: 10px;
          background-color: #f2f4f5;
          &:focus-visible {
            outline: none;
            border: 1px solid rgb(100, 100, 100);
          }
          &.dark-theme {
            background-color: #525151;
            color: #fff;
            &::placeholder {
              /* Chrome, Firefox, Opera, Safari 10.1+ */
              color: #ffffff;
              opacity: 0.6; /* Firefox */
            }

            &:-ms-input-placeholder {
              /* Internet Explorer 10-11 */
              color: #fff;
              opacity: 0.6;
            }

            &::-ms-input-placeholder {
              /* Microsoft Edge */
              color: #fff;
              opacity: 0.6;
            }
          }
        }

        .error-container {
          height: 40px;
          .error {
            color: red;
            margin: 8px;
          }
        }

        .buttons-panel {
          @include flexbox(row, center);
          flex-wrap: wrap;
          width: 250px;
          height: 100px;
          #signup-submit,
          #login-submit {
            width: 250px;
            height: 35px;
            font-size: large;
            background-color: $primary-color;
            color: #fff;
            border-radius: 15px;
            outline: none;
            border: none;
            transition: 0.2s;
            cursor: pointer;
            &:hover {
              background-color: #0f6fff;
            }
          }
          #signup-submit {
            opacity: 0.8;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 880px) {
  .signup-container {
    .signup-content {
      form {
        height: 350px;
        width: 320px;
      }
    }
  }
}
